*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-image: url(../images/main_bg.jpg);
    height: auto;
}
.text-story{
    font-family: courgette;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: -1rem;
    span{
        color:rgb(195, 40, 59);
        font-size: 60px;
    }
}
.top-left{
    position: absolute;
    left: 0;
    top:0;
}
.top-right{
    position: absolute;
    right: 0;
    top:0;
}
.bottom-left{
    position: absolute;
    left: 0;
    bottom:0;
}
.bottom-right{
    position: absolute;
    right: 0;
    bottom:0;
}
.deco-line{
    margin-bottom: 2rem;
    text-align: center;
   
}
// section2

.bg-chef{
    background-color: black;
    .title-chef{
        text-align: center;
        font-family: courgette;
        color: white;
        padding-top: 2rem;
        span{
            color: rgb(195, 40, 59);
        }
    }

}
// section3
.bg-contact{
    background-image: url(../../../public/images/book_table_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 57%;
    
    
} 

.bg-banner{
        border: 5px solid rgb(225, 224, 224);
        border-radius: 20px;
        width: 500px;
    }
    .para-banner{
        color: white;
        background-color: rgb(196, 45, 64);
        text-align: center;
        width: 420px;
        height: 60px;
        border-radius: 10px;
        margin-top: -30px;
        margin-left: 35px;
        z-index: 12;
        position: relative;
        padding-top: 5px;

        span{
            font-size: 30px;
        }
    }
    .text-para{
        width: 330px;
        margin-left: 50px;
    }
    .width-btn{
        width: 160px;
        height: 50px;
        margin-bottom: 4rem;
    }
    @media (min-width:319px) and (max-width:650px) {
        .bg-contact{
            background-image: url(../../../public/images/book_table_bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 80%;
        } 
        .bg-banner{
            border: 1px solid rgb(225, 224, 224);
            border-radius: 20px;
            width: 310px;
        }
        .para-banner{
            color: white;
            background-color: rgb(196, 45, 64);
            text-align: center;
            width: 250px;
            height: 60px;
            border-radius: 10px;
            margin-top: -30px;
            margin-left: 35px;
            z-index: 12;
            position: relative;
            padding-top: 5px;
    
            span{
                font-size: 20px;
            }
        }
        .text-para{
            width: 220px;
            margin-left: 50px;
        }
        .width-btn{
            width: 160px;
            height: 50px;
            margin-bottom: 4rem;
        }
    }
    // section4
    .bg-testimo{
        background-image: url(../images/testimonials_background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        .text-testimo{
            color: white;
            text-align: center;
            font-family: courgette;
            padding-top: 100px;
            span{
                color:rgb(196, 45, 64) ;
            }
        }
    }
    // section5
    .text-contact{
        font-family: courgette;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: -1rem;
    span{
        color:rgb(195, 40, 59);
        font-size: 60px;
    }
    }
    .border-custom{
        border-bottom: 2px solid white;
    }
    .width-contact{
        width:500px
    }
    @media (min-width:319px) and (max-width:550px) {
        .width-contact{
            width:300px
        }
        
    }
    // tabs
    .tabs-fonts{
        width: 150px;
    }
    .groupe-itmes{
        width: 150px;
        height: 100px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
    }
    .para-menu{
        font-size: small;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
        color: black;
        font-family: courgette;
    }
    .groupe-itmes:hover{
        border-right: 5px solid rgb(195, 40, 59);
    }
    .groupe-itmes i{
        padding-top: 1rem;
        color: #cccccc; 
        font-size: 50px;
    }
    .groupe-itmes i:hover{
        color:  rgb(195, 40, 59);
    }
    .menu-image{
        border: 5px solid rgb(168, 168, 168);
        border-radius: 50%;
    }
    .border-menu{
        border-bottom: 2px dotted $gray;
        
    }
